{% extends 'base.html.twig' %}
{% block title%}Blog{% endblock %}
{% block h1%}Blog{% endblock %}
{% block body%}
<!-- Blog Section -->
    <section class="section" id="blog">
        <div class="container py-5">
        <h1 class="text-center mb-5">Nuestro Blog</h1>
            
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    {{ include ('partials/_post.html.twig', {
                        'post': post,
                        'width': '100%',     
                        'height': '250px'
                        }) }}
                </div>
                {% else %}
                    <p class="text-center">No hay publicaciones todavía.</p>
                {% endfor %}
        </div>
            <!-- Page Footer -->
            <footer class="mt-5 py-4 border-top border-secondary">
                <p class="mb-0 small">&copy; <script>document.write(new Date().getFullYear())</script>, LeadMark Created By <a href="https://www.devcrud.com" target="_blank">DevCrud.</a>  All rights reserved </p>     
            </footer>
            <!-- End of Page Footer -->  
        </div>
    </section>
    <!-- End of Blog Section -->
{% endblock %}
